*{
    margin: 0;
    padding: 0;
}
 

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
}


.container_1{
    display: flex;
    height: 17vh;
    width: 100%;
    background-color: rgb(2, 204, 189);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 1px;
}

.container_2{
    display: flex;
    height: 20vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    align-self: center;
    box-shadow: 1px 1px 5px rgb(194, 187, 187);
    border-radius: 10px;
    
}

.container_3{
    display: flex;
    height: 20vh;
    flex-direction:row;
    width: 90vw;
    justify-content: space-between;
    align-self: center;
}

.container_4{
    display: flex;
    height: 20vh;
    flex-direction: column;
    justify-content: space-between;
    width: 95vw;
    align-items: center;
}

.wallet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.wall_1{
    width: 30vw;
}

.wall_2{
    width: 20vw;
}

.con3_boxes{
    width: 25vw;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.send_color{
    background-color: rgb(207, 167, 230);
}

.req_color{
    background-color: rgb(163, 210, 241);
}

.more_color{
    background-color: rgb(250, 161, 173);
}

.act{
    display: flex;
    justify-content: space-between;
    width: 85vw;
}

.act1{
    display: flex;
    flex-direction: row;
    width: 18vw;
    justify-content: space-between;
}

.text_size{
    font-size: 25px;
}

.inline{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.space{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    align-self: center;
    background-color: rgb(231, 235, 240);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.wellcome{
    display: flex;
    width: 50vw;
    flex-direction: row;
    justify-content: space-between;
}

.mar{
    margin-bottom: 20px;
}

.small_text{
    font-size: 20px;
}

.small_texxt{
    font-size: 20px;
}

.balance{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dol{
    display: flex;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15vh;
}

.container_5{
    display: flex;
    flex-direction: row;
    height: 3vh;
    position: fixed;
    background-color: rgb(2, 204, 189);
    width: 100%;
    justify-content: space-between;
}

.time{
    width: 50vws;
}

.mar_right{
    margin-right: 10px;
}

.mar_left{
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.act_icons{
    font-size: 20px;
    background-color: white;
    border-radius: 100px;
    padding: 7px;
}


.large_icons{
    font-size: 30px;
    background-color: white;
    border-radius: 50px;
    border-width: 30px;
    padding: 10px;
    margin-right: 10px;
}

.extra_small_icons{
    font-size: 15px;
}

.dots{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20vh;
    width: 15vw;
    align-items: flex-end;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .wallet{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        background-color: rgb(231, 235, 240) ;
        border-radius: 10px;
        padding: 6px;
        
    
    }
    .wall_2{
        width: 8vw;
    }

    .space{
        display: flex;
        justify-content: space-between;
        width: 80vw;
        align-self: center;
        background-color: rgb(231, 235, 240);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .balance{
        background-color: rgb(231, 235, 240);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;

    }

    .act1{
        display: flex;
        justify-content: flex-end;
    }

    .wellcome{
        display: flex;
        justify-content: flex-start;
    }

    .act{
        height: 5vh;
    }

    .small_texxt{
        font-size: 30px;
    }

    .balance_title{
        font-size: 25px;
    }


} 

@media screen and (min-width: 1024px) {

    .wallet{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        background-color: rgb(231, 235, 240) ;
        border-radius: 10px;
        padding: 6px;
        
    
    }
    .wall_2{
        width: 5vw;
    }

    .space{
        display: flex;
        justify-content: space-between;
        width: 80vw;
        align-self: center;
        background-color: rgb(231, 235, 240);
        border-radius: 10px;
        padding: 10px;
    }

    .balance{
        background-color: rgb(231, 235, 240);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;

    }

    .act1{
        display: flex;
        justify-content: flex-end;
    }

    .wellcome{
        display: flex;
        justify-content: flex-start;
    }

    .act{
        height: 5vh;
    }

    .small_texxt{
        font-size: 30px;
    }

    .balance_title{
        font-size: 25px;
    }



} 

